/*------------------------------------------------Projects---------------------------------------------------------*/


.projects {
  background: rgba(46, 64, 83, .5);
  @include adjust-padding(1rem, 2rem); // Using mixin for padding
  width: 100%;

  a {
    text-decoration: none;
  }

  h2 {
    text-align: center;
    color: $base-background-color; // Using variable for color
  }

  &__grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    width: 90%;
    margin: 0 auto;

    img {
      width: 100%;
      max-height: 12.5rem;
      object-fit: cover;
      border-radius: 0.5rem;
      margin-bottom: 1rem;
    }
  }

  &__item {
    background: $base-background-color; // Using variable for background color
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;

    &:hover {
      transform: translateY(-10px);
    }

    h3 {
      color: $primary-color; // Using variable for color
      margin-bottom: 1rem;
    }

    p {
      color: #555555;
      margin-bottom: 1.5rem;
    }

    a {
      display: inline-block;
      background: #7B8D8E;
      padding: 0.5rem 1rem;
      border-radius: 0.25rem;
      color: $base-background-color; // Using variable for text color
      margin-right: 1rem;
      transition: background-color 0.3s;

      &:hover {
        background: $hover-bg-color; // Using variable for hover background color
      }
    }
  }
}